body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card--image{
  width: 150px;
  border-radius: 5px;
  height: 175px;
  object-fit: cover;
}

.card{
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin: 20px;
}

.header{
  background-color: #F55A5A;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
}

.card--wrapper{
  margin: 40px 20px;
}

.info--wrapper{
  margin-left: 15px;
}

.bold{
  font-weight: bold;
  font-size: 12px;
}

.card--desc{
  margin: 0;
  width: 350px;
  font-size: 12px;
}

.card--title{
  margin: 0 0 10px 0;
}

.info--top{
  display: flex;
  font-size: 14px;
}

.gray{
  color: #918E9B;
  border-bottom: 1px solid #918E9B;
  font-weight: 200;
  margin-left: 10px;
}